.wrapper {
    margin: 5px;
    width: 100%;
}

.information {
    position: absolute;
    left: 25px;
    bottom: 5px;
}

.box {
    background: #9b59b6;
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    font-size: 17px;
    border-radius: 20px;
    vertical-align: middle;
    display: table-cell;
}

.animated{
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.050, 0.005, 0.000, 0.870);
}

.box:hover {
    transform: translateX(300px);
    background-color: teal;
}


